<?xml version="1.0"?>
<config>
  <modules>
    <Flipmedia_CategoryLink>
      <version>0.1.0</version>
    </Flipmedia_CategoryLink>
  </modules>
  <global>
    <helpers>
      <categorylink>
        <class>Flipmedia_CategoryLink_Helper</class>
      </categorylink>
    </helpers>
	<blocks>
	  <categorylink>
		<class>Flipmedia_CategoryLink_Block</class>
	  </categorylink>
	</blocks>
  </global>
</config> 